# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/

# nest / general build output
dist/
build/

# go
worker/*.exe
worker/*.test
worker/bin/

# env
.env
.env*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
coverage/
